body
{
    /*background-image: "url image";*/
    background-color: black;
    color: white;
}

.header
{
    margin-left: 100px;
}

.aside
{
    margin-left: 60px;
}

h1
{
    color: blue;
}

.titreContact
{
    color: blueviolet;
    font-size: 2em;
}

.test
{
    color: burlywood;
    font-size: xx-large;
}

